<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="SpecialBatch3_POM_FW.SpecialBatch3_POM_FW.Test_class2"/>
      <class name="SpecialBatch3_POM_FW.SpecialBatch3_POM_FW.Test_Class"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
